<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>陈国旺</string>
		<key>amount</key>
		<string>100</string>
	</dict>
	<dict>
		<key>name</key>
		<string>陈新旺</string>
		<key>amount</key>
		<string>500</string>
	</dict>
	<dict>
		<key>name</key>
		<string>陈林海</string>
		<key>amount</key>
		<string>200</string>
	</dict>
	<dict>
		<key>name</key>
		<string>吴奇发</string>
		<key>amount</key>
		<string>200</string>
	</dict>
	<dict>
		<key>name</key>
		<string>钟德明</string>
		<key>amount</key>
		<string>200</string>
	</dict>
	<dict>
		<key>name</key>
		<string>陈国忠</string>
		<key>amount</key>
		<string>100</string>
	</dict>
	<dict>
		<key>name</key>
		<string>陈屋生</string>
		<key>amount</key>
		<string>200</string>
	</dict>
	<dict>
		<key>name</key>
		<string>陈江生</string>
		<key>amount</key>
		<string>100</string>
	</dict>
	<dict>
		<key>name</key>
		<string>吴光明</string>
		<key>amount</key>
		<string>200</string>
	</dict>
	<dict>
		<key>name</key>
		<string>陈锋</string>
		<key>amount</key>
		<string>200</string>
	</dict>
	<dict>
		<key>name</key>
		<string>陈喜良</string>
		<key>amount</key>
		<string>200</string>
	</dict>
	<dict>
		<key>name</key>
		<string>陈喜龙</string>
		<key>amount</key>
		<string>100</string>
	</dict>
	<dict>
		<key>name</key>
		<string>陈小冲</string>
		<key>amount</key>
		<string>100</string>
	</dict>
	<dict>
		<key>name</key>
		<string>陈贵海</string>
		<key>amount</key>
		<string>200</string>
	</dict>
	<dict>
		<key>name</key>
		<string>陈国发</string>
		<key>amount</key>
		<string>200</string>
	</dict>
	<dict>
		<key>name</key>
		<string>吴朝福</string>
		<key>amount</key>
		<string>100</string>
	</dict>
	<dict>
		<key>name</key>
		<string>程国定</string>
		<key>amount</key>
		<string>100</string>
	</dict>
	<dict>
		<key>name</key>
		<string>陈鸿</string>
		<key>amount</key>
		<string>200</string>
	</dict>
	<dict>
		<key>name</key>
		<string>陈锦华</string>
		<key>amount</key>
		<string>100</string>
	</dict>
	<dict>
		<key>name</key>
		<string>陈土旺</string>
		<key>amount</key>
		<string>200</string>
	</dict>
	<dict>
		<key>name</key>
		<string>陈新华</string>
		<key>amount</key>
		<string>100</string>
	</dict>
	<dict>
		<key>name</key>
		<string>陈国恩</string>
		<key>amount</key>
		<string>100</string>
	</dict>
	<dict>
		<key>name</key>
		<string>陈冬炳</string>
		<key>amount</key>
		<string>200</string>
	</dict>
	<dict>
		<key>name</key>
		<string>徐益民</string>
		<key>amount</key>
		<string>200</string>
	</dict>
	<dict>
		<key>name</key>
		<string>徐仁水</string>
		<key>amount</key>
		<string>100</string>
	</dict>
	<dict>
		<key>name</key>
		<string>占国保</string>
		<key>amount</key>
		<string>100</string>
	</dict>
	<dict>
		<key>name</key>
		<string>张永南</string>
		<key>amount</key>
		<string>100</string>
	</dict>
	<dict>
		<key>name</key>
		<string>张梦泉</string>
		<key>amount</key>
		<string>100</string>
	</dict>
	<dict>
		<key>name</key>
		<string>占亮</string>
		<key>amount</key>
		<string>200</string>
	</dict>
	<dict>
		<key>name</key>
		<string>李海锋</string>
		<key>amount</key>
		<string>200</string>
	</dict>
	<dict>
		<key>name</key>
		<string>程阳根</string>
		<key>amount</key>
		<string>200</string>
	</dict>
	<dict>
		<key>name</key>
		<string>陈林荣</string>
		<key>amount</key>
		<string>200</string>
	</dict>
	<dict>
		<key>name</key>
		<string>王林来</string>
		<key>amount</key>
		<string>500</string>
	</dict>
	<dict>
		<key>name</key>
		<string>陈林球</string>
		<key>amount</key>
		<string>100</string>
	</dict>
	<dict>
		<key>name</key>
		<string>陈林秀</string>
		<key>amount</key>
		<string>200</string>
	</dict>
	<dict>
		<key>name</key>
		<string>占国华</string>
		<key>amount</key>
		<string>100</string>
	</dict>
	<dict>
		<key>name</key>
		<string>占建林</string>
		<key>amount</key>
		<string>100</string>
	</dict>
	<dict>
		<key>name</key>
		<string>张小草</string>
		<key>amount</key>
		<string>100</string>
	</dict>
	<dict>
		<key>name</key>
		<string>王时春</string>
		<key>amount</key>
		<string>200</string>
	</dict>
	<dict>
		<key>name</key>
		<string>张清波</string>
		<key>amount</key>
		<string>100</string>
	</dict>
	<dict>
		<key>name</key>
		<string>占继华</string>
		<key>amount</key>
		<string>100</string>
	</dict>
	<dict>
		<key>name</key>
		<string>占大华</string>
		<key>amount</key>
		<string>100</string>
	</dict>
	<dict>
		<key>name</key>
		<string>徐桂华</string>
		<key>amount</key>
		<string>100</string>
	</dict>
	<dict>
		<key>name</key>
		<string>吴道水</string>
		<key>amount</key>
		<string>200</string>
	</dict>
	<dict>
		<key>name</key>
		<string>徐运华</string>
		<key>amount</key>
		<string>100</string>
	</dict>
	<dict>
		<key>name</key>
		<string>徐艳民</string>
		<key>amount</key>
		<string>200</string>
	</dict>
	<dict>
		<key>name</key>
		<string>张清鹏</string>
		<key>amount</key>
		<string>200</string>
	</dict>
	<dict>
		<key>name</key>
		<string>夏水清</string>
		<key>amount</key>
		<string>100</string>
	</dict>
	<dict>
		<key>name</key>
		<string>夏锋</string>
		<key>amount</key>
		<string>200</string>
	</dict>
	<dict>
		<key>name</key>
		<string>张小明</string>
		<key>amount</key>
		<string>200</string>
	</dict>
	<dict>
		<key>name</key>
		<string>陈国红</string>
		<key>amount</key>
		<string>200</string>
	</dict>
	<dict>
		<key>name</key>
		<string>叶为明</string>
		<key>amount</key>
		<string>200</string>
	</dict>
	<dict>
		<key>name</key>
		<string>程艳新</string>
		<key>amount</key>
		<string>200</string>
	</dict>
	<dict>
		<key>name</key>
		<string>占鑫华</string>
		<key>amount</key>
		<string>100</string>
	</dict>
	<dict>
		<key>name</key>
		<string>陈中华</string>
		<key>amount</key>
		<string>200</string>
	</dict>
	<dict>
		<key>name</key>
		<string>陈军旺</string>
		<key>amount</key>
		<string>200</string>
	</dict>
	<dict>
		<key>name</key>
		<string>陈国爱</string>
		<key>amount</key>
		<string>200</string>
	</dict>
	<dict>
		<key>name</key>
		<string>陈振华</string>
		<key>amount</key>
		<string>100</string>
	</dict>
	<dict>
		<key>name</key>
		<string>程海英</string>
		<key>amount</key>
		<string>100</string>
	</dict>
	<dict>
		<key>name</key>
		<string>陈国将</string>
		<key>amount</key>
		<string>100</string>
	</dict>
	<dict>
		<key>name</key>
		<string>陈国清</string>
		<key>amount</key>
		<string>200</string>
	</dict>
	<dict>
		<key>name</key>
		<string>陈国枝</string>
		<key>amount</key>
		<string>100</string>
	</dict>
	<dict>
		<key>name</key>
		<string>陈国江</string>
		<key>amount</key>
		<string>200</string>
	</dict>
	<dict>
		<key>name</key>
		<string>陈国珍</string>
		<key>amount</key>
		<string>200</string>
	</dict>
	<dict>
		<key>name</key>
		<string>陈国爱</string>
		<key>amount</key>
		<string>200</string>
	</dict>
	<dict>
		<key>name</key>
		<string>陈国春</string>
		<key>amount</key>
		<string>100</string>
	</dict>
	<dict>
		<key>name</key>
		<string>陈国东</string>
		<key>amount</key>
		<string>400</string>
	</dict>
	<dict>
		<key>name</key>
		<string>陈国兵</string>
		<key>amount</key>
		<string>100</string>
	</dict>
	<dict>
		<key>name</key>
		<string>陈国土</string>
		<key>amount</key>
		<string>100</string>
	</dict>
	<dict>
		<key>name</key>
		<string>陈国相</string>
		<key>amount</key>
		<string>200</string>
	</dict>
	<dict>
		<key>name</key>
		<string>陈义卜</string>
		<key>amount</key>
		<string>100</string>
	</dict>
	<dict>
		<key>name</key>
		<string>陈喜怀</string>
		<key>amount</key>
		<string>200</string>
	</dict>
	<dict>
		<key>name</key>
		<string>陈喜兵</string>
		<key>amount</key>
		<string>100</string>
	</dict>
	<dict>
		<key>name</key>
		<string>陈喜旺</string>
		<key>amount</key>
		<string>100</string>
	</dict>
	<dict>
		<key>name</key>
		<string>陈喜春</string>
		<key>amount</key>
		<string>100</string>
	</dict>
	<dict>
		<key>name</key>
		<string>吴秋发</string>
		<key>amount</key>
		<string>100</string>
	</dict>
	<dict>
		<key>name</key>
		<string>吴旺发</string>
		<key>amount</key>
		<string>100</string>
	</dict>
	<dict>
		<key>name</key>
		<string>吴成发</string>
		<key>amount</key>
		<string>200</string>
	</dict>
	<dict>
		<key>name</key>
		<string>陈国林</string>
		<key>amount</key>
		<string>100</string>
	</dict>
	<dict>
		<key>name</key>
		<string>陈细华</string>
		<key>amount</key>
		<string>100</string>
	</dict>
	<dict>
		<key>name</key>
		<string>陈金龙</string>
		<key>amount</key>
		<string>100</string>
	</dict>
	<dict>
		<key>name</key>
		<string>陈光发</string>
		<key>amount</key>
		<string>100</string>
	</dict>
	<dict>
		<key>name</key>
		<string>陈林发</string>
		<key>amount</key>
		<string>100</string>
	</dict>
	<dict>
		<key>name</key>
		<string>陈郁华</string>
		<key>amount</key>
		<string>100</string>
	</dict>
	<dict>
		<key>name</key>
		<string>陈吉发</string>
		<key>amount</key>
		<string>100</string>
	</dict>
	<dict>
		<key>name</key>
		<string>陈卓</string>
		<key>amount</key>
		<string>100</string>
	</dict>
	<dict>
		<key>name</key>
		<string>陈燚华</string>
		<key>amount</key>
		<string>100</string>
	</dict>
	<dict>
		<key>name</key>
		<string>黄金钟</string>
		<key>amount</key>
		<string>100</string>
	</dict>
	<dict>
		<key>name</key>
		<string>陈剑锋</string>
		<key>amount</key>
		<string>100</string>
	</dict>
	<dict>
		<key>name</key>
		<string>陈林水</string>
		<key>amount</key>
		<string>100</string>
	</dict>
	<dict>
		<key>name</key>
		<string>陈春炳</string>
		<key>amount</key>
		<string>200</string>
	</dict>
	<dict>
		<key>name</key>
		<string>陈博文</string>
		<key>amount</key>
		<string>200</string>
	</dict>
	<dict>
		<key>name</key>
		<string>陈方艳</string>
		<key>amount</key>
		<string>100</string>
	</dict>
	<dict>
		<key>name</key>
		<string>陈金娥</string>
		<key>amount</key>
		<string>100</string>
	</dict>
</array>
</plist>
